name: node_app

on:
  push:
    branches:
      - "main"

jobs:
  build:
    name: Build Docker image
    runs-on: ubuntu-latest
    steps:
      - name: Checout
        uses: actions/checout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: $ {{ secrets.DOCKER_USERNAME }}
          password: $ {{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up on Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: $/clockbox:latest
